@charset "UTF-8";

* {
    box-sizing: border-box;
}

h2 {
    background-color: #000;
    display: inline-block;
    padding: 1rem;
    color: #fff;
}

/* CSS animation */
.bg-img {
    background-image: url(images/bg1.jpg);
    background-size: cover;
    animation: change-image 15s infinite;
    height: 80vh;
}

@keyframes change-image {
    0%, 100% {
        background-image: url(images/bg1.jpg);
    }

    25% {
        background-image: url(images/bg2.jpg);
    }

    50% {
        background-image: url(images/bg3.jpg);
    }

    75% {
        background-image: url(images/bg4.jpg);
    }
}


/* javascript */
.bg-time {
    background-size: cover;
    height: 80vh;
}

.morning {
    background-image: url(images/morning.jpg);
}

.daytime {
    background-image: url(images/daytime.jpg);
}

.night {
    background-image: url(images/night.jpg);
}