@charset "UTF-8";

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h2 {
    margin: auto;
    padding: 1rem;
    color: #fff;
    text-transform: uppercase;

}

.bg-color {
    margin: 0;
    height: 100vh;
    background: linear-gradient(-45deg, rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);
    background-size: 400% 400%;
    animation: bg 12s ease infinite;
}

@keyframes bg {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 100%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.btn-click {
    height: 100vh;
    display: grid;
    place-items: center;
    background-color: #000;
}

button {
    font-size: 1.4em;
    padding: 1em 2em;
    border-radius: 2em;
    border: 5px solid #fff;
    background-color: transparent;
    color: #fff;
    letter-spacing: 1.5px;
    cursor: pointer;
    outline: none;
}
